/* общие стили для страницы */
body {
  background-color: #f8f8f8;
  font-family: Arial, sans-serif;
}

/* стили для заголовка */
header {
  background-color: #ffffff;
  color: black;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}



ul{
  background-color: #CCCCCC;
  font-size: 19px;
  list-style: none;
  margin: 0;
  padding: 00;
}
h2{
  color: black;
  font-size: 18px;
  font-weight: 400;
  background-color: #eaeaea;
}
.Kratko{
  color: #707070;
  font-size: 14px;
  font-style: italic;
  line-height: 16px;
}
.podrob{
  color: 484343;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  text-align: left;

}
footer {
  text-align: center;
}
/*-------------------------------------*/


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 30px;
}

a {
    color: #333333;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}

a:hover {
    color: #ff6600;
}

main {
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 1000px;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    margin-top: 0
  }
