.container {
    width: 1200px;
    margin: 0 auto;
    background: white;
    background-repeat: no-repeat;
    background-size: cover;
}

.item {
    grid-template-columns: 1fr 1fr;
    display: grid;
    margin: 10px 10px 10px 10px;
    ;
}
.item-h {
    grid-template-columns: 1fr 1fr;
    display: grid;
    margin: 10px 10px 10px 10px;
       background-image: url(https://smorodina.com/uploads/image/image/10160/P1110412.JPG);
    background-repeat: no-repeat;
    background-position: 0px -500px;
    background-size: auto;
}

.bord-item {
    grid-template-columns: 1fr;
    display: grid;
    border: 2px solid #E9E9E9;
    background-color: #FFFBFF;
    border-radius:10px;
}
.bord-item-2 {
    grid-template-columns: 1fr;
    display: grid;
}

.text-font {
  font-size: 40pt;
  color:#D33FA8;
}
.text-font-2 {
  font-size: 45pt;
}
.text-font-3 {
  font-size: 20pt;
}
.text-font-4 {
  font-size: 12pt;
  display: inline-block;
  transform: translate(0em, -3em);
}
.header-item {
    grid-template-columns: 5fr 2fr;
    display: grid;
    padding: 30px 20px 70px 20px;
}

.item-11 p {
    margin: 0 0 0 0;
}

.item-12 p {
    margin-top: 35px;
    text-align: center;
}

.item-2 {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    padding: 25px 20px 40px 20px;

}

.item-2 img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.item-2 h3 {
    font-size: 30px;
    color: #D33FA8;
    margin-bottom: 0px;
    margin-left: 40px;
}

.item-2 p {
    font-size: 24px;
    margin-left: 40px;
    width: 80%;
}

.item-3 {
    grid-template-columns: 1fr;
    display: grid;
    padding: 10px 20px 20px 20px;
    background-color:#D19FC2;
    color:white;
}

.item-3 p {
    margin: 0 0 0 0;
    text-align: center;
    font-size: 20px;
}
